<!-- Bouton ajouter -->
  <!-- Champ de recherche -->
  <form class="d-none d-sm-inline-block">
    <div class="input-group input-group-navbar">
      <input type="text" class="form-control border-0 rounded-0 pe-0" placeholder="Search..." aria-label="Search">
      <button class="btn border-0 rounded-0" type="button">
        <i class='bx bx-search'></i>
      </button>
    </div>
  </form>
  <br>
  <br><!--
<button mat-raised-button color="primary" (click)="openDialog()">
  <mat-icon class="mr-2">add</mat-icon> Ajouter Challenge
</button>-->


<div class="container mt-4 ">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="text-success">Liste des Challenges</h3>
    <button  mat-raised-button color="primary" (click)="openDialog()">➕ Nouveau</button>
  </div>

  <div class="container mt-4">
  

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th>Nom</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Description</th>
          <th>État</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of dataSource.data">
          <td>{{ c.name }}</td>
          <td>{{ c.dateDebut }}</td>
          <td>{{ c.dateFin }}</td>
          <td>{{ c.description }}</td>
          <td>
            <span [ngStyle]="{ 'color': getEtatColor(getEtat(c)) }">
              {{ getEtat(c) }}
            </span>
          </td>
          <td>
            <button  (click)="openEditDialog(c)" title="Modifier">
                  <img src="../../../assets/edit.png" alt="Supprimer" width="30" height="30">
            </button>
            <button  (click)="viewChallenge(c)" title="Voir">
             <img src="../../../assets/voir.png" alt="" width="30" height="30">
            </button>
            
                           <button  (click)="deleteChallenge(c.id!)" title="Supprimer">
                           <img src="../../../assets/supprimer.png" alt="Supprimer" width="30" height="30">
          </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


  <!-- ✅ Pagination Bootstrap simple -->
 <mat-paginator [length]="totalItems"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[1, 5, 10]"
                 showFirstLastButtons
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
