table {
  width: 100%;
}

.mat-header-cell, .mat-cell {
  padding: 12px;
}

.mat-icon-button {
  margin-right: 8px;
}
.product-list-container {
  max-width: 1000px; /* ajuste la limite ici */
  width: 70%;
  margin: 40px auto; /* pour centrer le tableau */
  padding: 20px; /* optionnel pour de l'espace interne */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* optionnel pour un effet visuel */
  border-radius: 8px; /* optionnel pour des coins arrondis */
  overflow-x: auto; /* pour gérer le dépassement horizontal */
}
