.form-row-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.resume-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.resume-grid mat-card {
  flex: 1 1 300px;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
}
