




<div class="container mt-4">
  <!-- Condition -->
  <app-condition *ngIf="challengeService.getChallengeId()"></app-condition>

  <!-- Condition de Gain -->
  <app-condition-gain *ngIf="challengeService.getChallengeId()"></app-condition-gain>

  <hr class="my-4">

  <!-- Règles de score -->
  <app-score-rule *ngIf="challengeService.getChallengeId()"></app-score-rule>

  <hr class="my-4">

  <!-- Rôle Palier -->
  <app-role-palier *ngIf="challengeService.getChallengeId()"></app-role-palier>
</div>
