<div class="container mt-4 ">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="text-success">Liste des Participant</h3>
    <button  mat-raised-button color="primary" (click)="openDialog()">➕ Nouveau</button>
  </div>
<div class="table-responsive">
  <table   table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th>Code</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Rôle</th>
        
        <th>Actions</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let p of paginatedData()">
        <td>{{ p.codePar }}</td>
        <td>{{ p.nom }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.role }}</td>
        
        <td>
          <button  (click)="editParticipant(p.id)">
             <img src="../../../assets/edit.png" alt="Supprimer" width="30" height="30">
          </button>
          <button  (click)="deleteParticipant(p.id)">
           <img src="../../../assets/supprimer.png" alt="Supprimer" width="30" height="30">
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- ✅ Pagination Bootstrap -->
   <mat-paginator
    [length]="participants.length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

</div>